body {
    background-color: black;
    color: white;
    font-family: arial;
  }
  h1{
    color:grey;
    font-family: verdana;
  }
  .maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    position: relative;
    margin: auto;
  }
#click:hover{
    background-color:skyblue;
    size: 20px;
}
#reset:hover{
    background-color:skyblue;
}
